@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: "Roboto Mono";
}

.words {
    margin: 0px 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 95px;
    overflow: hidden;

}

.word {
    margin: 5px;
}

.char {
    color: black;
}

.wrong-char {
    color: red;
}

.correct-char {
    color: rgb(85, 148, 51);
}

.excess-char {
    color: blue;
}

.wrong-word {
    margin: 5px;
}

.correct-word {
    margin: 5px;
}