@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: "Roboto Mono";
}


span {
    position: relative;
}

@keyframes blink {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

.cursor-before::before {
    content: "";
    position: absolute;
    height: 25px;
    width: 1.5px;
    background-color: #000;
    animation: blink 1.5s infinite;
}

.cursor-after::after {
    content: "";
    position: absolute;
    height: 25px;
    width: 1.5px;
    left: 95%;
    background-color: #000;
    animation: blink 1s infinite;
}

.timer{
    width: fit-content;
    margin: 0px auto;
    color: black;
}
.words {
    margin: 0px 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 95px;
    overflow: hidden;
    height: fit-content;
}

.word {
    margin: 5px;
}

.char {
    color: black;
}

.wrong-char {
    color: red;
}

.correct-char {
    color: rgb(85, 148, 51);
}

.excess-char {
    color: blue;
}

.wrong-word {
    margin: 5px;
}

.correct-word {
    margin: 5px;
}

