@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: "Roboto Mono";
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 105px;
    overflow: hidden;

}

.box {
    background-color: gray;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}